.modal {
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 99;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	min-height: 100%;
	width: 100%;
}

.loading {
	font-size: 14px;
	font-weight:bold;
	color:#d56565;
	width: 500px;
	height: 250px;
	display: none;
	position: fixed;
	background-color: White;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
    	align-items: center;
    	justify-content: center;
	flex-direction: column;
}
.col-sm-4.full-right {
float:right;

}
